body {
    background-color: black;
    color: deeppink;

     font-family: "Edu NSW ACT Hand Pre", cursive;
}

header{
    font-size: 50px;
    border-bottom: double 5px yellow;
    padding: 50px;
    text-align: center;
    color: white;
}
h1 {
    font-size: 30px;
}
p{
    font-size: 20px;
}
section {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 30px;
}